/* Global Elements */
* 
	{	
	margin				: 0px; 
	padding				: 0px; 
	}

html 
	{
	margin				: 0;
	padding				: 0;
	min-height			: 100%;
	width				: 100%;
	overflow-x			: hidden;
	}

body 
	{
	margin				: 0;
	padding				: 0;
	min-height			: 100%;
	width				: 100%;
	color 				: #393939;
	font-family			: Arial, Geneva, sans-serif;
	font-size 			: 12px;
	background-color	: #000;
	overflow-x			: hidden;
	}
body  a
	{
	color 				: #393939;
	text-decoration 	: underline;
	}
body  a:hover
	{
	color 				: #393939;
	text-decoration 	: none;
	}
body  a:focus
	{
	outline				: none; 
	}
h1
	{
	font-size			: 23px;
	font-weight			: bold;
	text-decoration		: none;
	padding-bottom		: 0px;
	}
h3
	{
	font-size			: 16px;
	text-decoration		: none;
	padding-bottom		: 3px;
	font-weight			: normal;
	color				: #2f72a9;
	}
p
	{
	padding-bottom		: 10px;
	}


#container 
	{
	width				: 100%;
	position			: relative;
	text-align			: center;
	}
.wcont
	{
	width				: 1040px;
	margin				: 0px auto;
	text-align			: left;
	}
#header 
	{
	background			: #000;
	background-image	: url(../imgs/header-01.jpg), url(../imgs/header-bg.jpg);
	background-repeat	: no-repeat, repeat-x;
	background-position	: center bottom, center center;
	height				: 214px;
	text-align			: center;
	}
#body 
	{
	padding				: 10px;
	text-align			: center;
	}
#footer 
	{
	position			: absolute;
	padding				: 20px 0px 20px 50px;
	bottom				: 0;
	width				: 100%;
	background			: #000;
	text-align			: center;
	margin-top			: 34px;
	color				: #fff;
	}	
#footer ul li 
	{
	list-style			: none;
	}
#navigation
	{
	padding				: 22px 0px 0px 90px;
	text-align			: center;
	overflow			: hidden;
	clear				: both;
	color				: #fff;
	}
#nav
	{
	}
#nav ul li
	{
	display				: block;
	float				: center;
	padding				: 0px;
	border				: none;
	border-left			: 1.5px solid #fff;
	padding				: 0px 15px 0px 15px;
	}
#nav ul li a
	{
	color				: #fff;
	font-size			: 18px;
	text-decoration		: none;
	font-weight			: normal;
	text-shadow			: 0 0 5px #333;
	}
#main
	{
	margin				: 0px 0px 28px 0px;
	border				: none;
	background-color	: #fff;
	text-align			: left;
	padding				: 5px 40px 5px 40px;
	}
#contact
	{
	margin 				: 0px 0px 0px 480px;
	padding				: 14px;
	color				: #fff;
	font-size			: 11px;
	font-weight			: bold;
	}
#search
	{
	margin				: 32px 0px 0px 60px;
	}
#searchbox
	{
	width				: 430px;
	height				: 26px;
	border				: 2px solid #e7e7e7;
	border-bottom-left-radius	: 3px;
	border-top-left-radius		: 3px;
	border-right		: none;
	float				: left;
	padding				: 0px 0px 0px 6px;
	}
#searchbtn
	{
	border				: none;
	background			: #FFF url(../imgs/search.jpg);
	height				: 28px;
	width				: 61px;
	float				: left;
	margin-top			: 1px;
	}
#slideshow
	{
	width				: 960px;
	height				: 262px;
	overflow			: hidden;
	display				: block;
	margin-bottom		: 10px;
	}
.one
	{
	background-color	: #f9f9f9;
	border				: 1px solid #d4d4d4;
	text-align			: center;
	color				: #616161;
	margin-bottom		: 10px;
	}
.two
	{
	background-color	: #edf5fb;
	text-align			: left;
	color				: #353535;
	margin-bottom		: 10px;
	border-bottom		: 1px solid #d2d5e1;
	padding				: 20px 20px 0px 20px;
	}
.banner
	{
	height				: 551px;
	background-image	: url(../imgs/bannerbg.jpg);
	background-repeat	: repeat-x;
	width				: 100%;
	}